<!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
              <b>Nelson Widjaya</b> design template by <a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
      <%= stylesheet_link_tag "admins/admins.css" %>
  <%= javascript_include_tag "admins/ruang-admin.js" %>