<!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            
            
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <% if session[:admin_email] == "nelson.widjaya@gmail.com" then %>
                <img class="img-profile rounded-circle" src="<%=image_url('person1.jpg') %>" style="max-width: 60px">
                  <% else %>
                  <img class="img-profile rounded-circle" src="<%=image_url('default.png') %>" style="max-width: 60px">
                  <% end %>
                
                <span class="ml-2 d-none d-lg-inline text-white small">
                  <% if session[:admin_email] == "nelson.widjaya@gmail.com" then %>
                    Nelson Widjaya
                  <% else %>
                    test user
                  <% end %>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                
                <%= link_to admin_logout_path,class:"dropdown-item" do%>
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                <% end %>	
                  
                
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->