
<%= stylesheet_link_tag "fronts/portal.css" %>



  <div class="gdsdk__splash-background-container" id="splashContainer">
                  <div class="gdsdk__sdk-version">0.0.0</div>
                  <div class="gdsdk__splash-container">
                      <div class="gdsdk__splash-top">
                          <div>
                            <div><%= image_tag( @game.icon_image,id:"gameIcon") %></div>
                            <button id="playButton" >PLAY</button> 
                            <div class="gdsdk__loader">Loading...</div>
                          </div>
                      </div>
                      <div class="gdsdk__splash-bottom">
                          <div class="gdsdk__splash-title"><%=@game.name%></div>
                          <div class="gdsdk__splash-consent" style="display:none">
                              We may show personalized ads provided by our partners, and our 
                              services can not be used by children under 16 years old without the 
                              consent of their legal guardian. By clicking "PLAY", you consent 
                              to transmit your data to our partners for advertising purposes and 
                              declare that you are 16 years old or have the permission of your 
                              legal guardian. You can review our terms
                              <a href="https://azerion.com/business/privacy.html" target="_blank">here</a>.
                          </div>
                      </div>
                  </div>       
                </div>
<script>
$( "#playButton" ).click(function() {
  $("#splashContainer").hide();
  
  $('<iframe>', {
   src: '/games/<%=@game.game_id%>/',
   id:  'myFrame',
   frameborder: 0,
   scrolling: 'no',
   width:"100%",
   height:"100%"
   }).appendTo('#iframeGame');
  
});
</script>